{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends":["eslint:recommended", "plugin:react/recommended"],
  "env" :{
    "browser":true,
    "amd":true
  },
  "rules": {
    "no-console": "off"
  }
}